<div class="container-fluid">
  <%= render "shared/flash_message" %>
  <h2 class="mt-3 text-center">新規会員登録</h2>

  <div class="row justify-content-center align-items-center">
    <table class="table table-borderless col-md-10 mx-auto">
    <tbody>
    <%= form_with model: @customer, url: customer_registration_path, local: true do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

     <tr>
       <th><%= f.label :フリガナ, class: "brown-border px-3" %></th>
       <td>（セイ）<%= f.text_field :last_name_kana, class: "form-control"%></td>
       <td>（メイ）<%= f.text_field :first_name_kana, class: "form-control"%></td>
     </tr>

     <tr>
       <th><%= f.label :氏名, class: "brown-border px-3" %></th>
       <td>（姓）<%= f.text_field :last_name, class: "form-control"%></td>
       <td>（名）<%= f.text_field :first_name, class: "form-control"%></td>
     </tr>

     <tr>
       <th><%= f.label :郵便番号, class: "brown-border px-3" %></th>
       <td><%= f.text_field :postal_code, class: "form-control"%></td>
     </tr>

    <tr>
       <th><%= f.label :住所, class: "brown-border px-3" %></th>
       <td><%= f.text_field :address, class: "form-control"%></td>
    </tr>

    <tr>
       <th><%= f.label :電話番号, class: "brown-border px-3" %></th>
       <td><%= f.text_field :tel, class: "form-control"%></td>
    </tr>

    <tr>
       <th><%= f.label :メールアドレス, class: "brown-border px-3" %></th>
       <td><%= f.email_field :email, autofocus: true, autocomplete: "email",class: "form-control"%></td>
    </tr>

    <tr>
       <th><%= f.label :パスワード %>
        <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %>文字以上 )</em>
        <% end %>
       </th>
       <td><%= f.password_field :password, autocomplete: "new-password",class: "form-control" %></td>
    </tr>

    <tr>
       <th><%= f.label :パスワード確認 %></th>
       <td><%= f.password_field :password_confirmation, autocomplete: "new-password",class: "form-control" %></td>
    </tr>

     </tbody>
    </table>
   </div>

<div class="form-group">
          <div class="container">
            <div class="row">
              <div class="col-auto mx-auto">
                 <div class="actions">
                    <%= f.submit "新規登録" %>
                  </div>
              </div>
            </div>
          </div>
    </div>

<% end %>


<div class="row justify-content-center">
<h7 class="mb-3">会員登録がお済みのお客様は</h7>
<%= link_to "こちら", new_customer_session_path %>
<h7 class="mb-3">からログインしてください</h7>
</div>

</div>



