<div class="container-fluid">

  <h2 class="mt-3 text-center">管理者ログイン</h2>

<div class="row justify-content-center align-items-center">

 <table class="table table-borderless col-md-3 mx-auto">
    <tbody>
     <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

         <tr>
         <th><%= f.label :email, "メールアドレス" %></th>
         <td><%= f.email_field :email, autofocus: true, autocomplete: "email" %></td></br>
         </tr>

         <tr>
         <th><%= f.label :password, "パスワード"%></th>
         <td><%= f.password_field :password, autocomplete: "current-password" %></td>
     </tbody>
    </table>
   </div>

    <div class="form-group">
          <div class="container">
            <div class="row">
              <div class="col-auto mx-auto">
               <%= f.submit "Log in" %>
              </div>
            </div>
          </div>
    </div>

<% end %>

  <div class="row">
   <div class="col-auto mx-auto">
     <h8>お客様のログイン画面はこちらです
　      <%= link_to "/customers/sign_in" do%>
　       <i class="fas fa-user-lock"></i>
　      <% end %>
     </h8>
   </div>
  </div>


<%= render "admin/shared/links" %>
</div>
