
<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0">
      <h2><span class="badge badge-secondary"><%= @customer.first_name %> <%= @customer.last_name %>さんの会員情報</h2>
       <table class="table table-borderless">
         <tr>
           <td>会員ID</td>
           <td><%= @customer.id %></td>
          </tr>
          <tr>
            <td>氏名</td>
            <td><%= @customer.first_name %>"" + <%= @customer.last_name %> </td>
          </tr>
          <tr>
            <td>フリガナ</td>
            <td><%= @customer.first_name_kana %> <%= @customer.last_name_kana %> </td>
          </tr>
          <tr>
            <td>郵便番号</td>
            <td><%= @customer.postal_code %></td>
          </tr>
          <tr>
            <td>住所</td>
            <td><%= @customer.address %></td>
          </tr>
          <tr>
            <td>電話番号</td>
            <td><%= @customer.tel %></td>
          </tr>
          <tr>
            <td>メールアドレス</td>
            <td><%= @customer.email %></td>
          </tr>
          <tr>
            <td>会員ステータス</td>
               <% if @customer.is_deleted %>
              <p class="text-muted">退会</p>
            <% else %>
              <p class="text-success">有効</p>
            <% end %>
            </td>
          </tr>
          <tr>
           <th></th>
           <td><%= link_to '編集する', edit_admin_customer_path(@customer.id), class: 'btn btn-default' %></td>
           <td><%= link_to '注文履歴一覧',admin_orders_path(order: 'customer'), class: 'btn btn-default' %></td>
          </tr>
         </table>
      </div>
     </div>
 </div>