
<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0">
      <h2><span class="badge mb-3"><%= @customer.first_name %> <%= @customer.last_name %>さんの会員情報</h2>

       <table class="table table-borderless">
         <tr>
           <th bgcolor="#fce4ec">会員ID</th>
           <td bgcolor="#fcf7f7"><%= @customer.id %></td>
          </tr>
          <tr>
            <th bgcolor="#fce4ec">氏名</th>
            <td bgcolor="#fcf7f7"><%= @customer.last_name %><%= @customer.first_name %> </td>
          </tr>
          <tr>
            <th bgcolor="#fce4ec">フリガナ</th>
            <td bgcolor="#fcf7f7"> <%= @customer.last_name_kana %><%= @customer.first_name_kana %> </td>
          </tr>
          <tr>
            <th bgcolor="#fce4ec">郵便番号</th>
            <td bgcolor="#fcf7f7"><%= @customer.postal_code %></td>
          </tr>
          <tr>
            <th bgcolor="#fce4ec">住所</th>
            <th bgcolor="#fcf7f7"><%= @customer.address %></th>
          </tr>
            <th bgcolor="#fce4ec">電話番号</th>
            <td bgcolor="#fcf7f7"><%= @customer.tel %></td>
          </tr>
          <tr>
            <th bgcolor="#fce4ec">メールアドレス</th>
            <th bgcolor="#fcf7f7"> <%= @customer.email %></th>
          </tr>
          <tr>
            <th bgcolor="#fce4ec">会員ステータス</th>
            <td bgcolor="#fcf7f7">
               <% if @customer.is_deleted %>
              <p class="text-muted">退会</p>
            <% else %>
              <p class="text-success">有効</p>
            <% end %>
            </td>
          </tr>
          <tr>
           <th></th>
           <td><%= link_to '編集する', edit_admin_customer_path(@customer.id), class: 'btn btn-success' %></td>
           <td><%= link_to '注文履歴一覧',admin_orders_path(order: 'customer'), class: 'btn btn-primary' %></td>
          </tr>
         </table>
      </div>
     </div>
 </div>