<div class="container">
  <%= render "shared/flash_message" %>

  <div class="row">
    <div class="col-sm-10 col-md-8 col-lg-6 col-xl-5 mx-auto">
      <h2 class="mb-3 ml-sm-n2">ログイン</h2>


<%= form_with model: @customer, url: customer_session_path, local: true do |f| %>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.label :password %><br />
    <%= f.password_field :password, autocomplete: "current-password" %>
  </div>

  <div class="actions">
    <%= f.submit "Log in" %>
  </div>
<% end %>

<h7 class="mb-3">会員登録がお済みでないお客様は</h7>
<%= link_to "こちら", new_customer_registration_path %>から</br>
<h7 class="mb-3">新規登録を行ってください</h7>
