<%= render "shared/flash_message" %>
<h2>注文情報入力</h2>
  <%= form_with model: @order,url: orders_confirm_orders_path, method: :post, local: true do |f| %>
    <div class="mt-5">
      <p>支払い方法</p>
      <%= f.radio_button :payment_method, :クレジットカード, checked: true  %>
      <%= f.label :payment_method, :クレジットカード, value: :クレジットカード %>
      <%= f.radio_button :payment_method, :銀行振込 %>
      <%= f.label :payment_method, :銀行振込, value: :銀行振込 %>
    </div>
  </div>
</div>