<div class="container">
  <div class="row mb-5">
    <div class="col mb-3">
      <h3>注文履歴詳細</h3>
      <div class="row">
        <div class="col-9">
          <p>注文情報</p>
          <table class="table table-bordered">
            <tbody>
              <tr>
                <th bgcolor="#fce4ec">注文日</th>
                <td bgcolor="#fcf7f7">
                  <%= @order.created_at.strftime('%Y年%m月%d日') %>
                </td>
              </tr>
              <tr>
                <th bgcolor="#fce4ec">配送先</th>
                <td bgcolor="#fcf7f7">
                  〒<%= @order.shipping_postal_code %><br>
                  <%= @order.delivery_address %><br>
                  <%= @order.receiver_name %> 様
                </td>
              </tr>
              <tr>
                <th bgcolor="#fce4ec">支払方法</th>
                <td bgcolor="#fcf7f7">
                  <%= @order.payment_method %>
                </td>
              </tr>
              <tr>
                <th bgcolor="#fce4ec">ステータス</th>
                <td bgcolor="#fcf7f7">
                  <%= @order.order_status_i18n  %>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="col-3">
          <p>請求情報</p>
          <table class="table table-bordered">
            <tbody>
              <tr>
                <th bgcolor="#fce4ec">商品合計</th>
                <td bgcolor="#fcf7f7">
                  ¥<%= (@order.total_price - @order.shipping_fee).floor.to_s(:delimited) %>
                </td>
              </tr>
              <tr>
                <th bgcolor="#fce4ec">配送料</th>
                <td bgcolor="#fcf7f7">
                  ¥<%= @order.shipping_fee %>
                </td>
              </tr>
              <tr>
                <th bgcolor="#fce4ec">ご請求額</th>
                <td bgcolor="#fcf7f7">
                  ¥<%= @order.total_price %>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="row mb-5">
        <p>注文内容</p>
        <table class="table table-bordered">
          <tbody>
            <tr bgcolor="#fce4ec">
              <th>商品名</th>
              <th>単価（税込）</th>
              <th>個数</th>
              <th>小計</th>
            </tr>
            <% @order.order_items.each do |order_item| %>
              <tr bgcolor="#fcf7f7">
                <td>
                  <%= order_item.item.item_name %>
                </td>
                <td>
                  ¥<%= (order_item.item.price * 1.1).floor %>
                </td>
                <td>
                  <%= order_item.number_of_piaces %>
                </td>
                <td>
                  ¥<%= (order_item.number_of_piaces * order_item.item.price * 1.1).floor %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>