<div class="row">
  <%= render "shared/flash_message" %>
  <div class="col-9">
    <p>注文情報</p>
    <table class="table table-bordered">
      <tbody>
        <tr>
          <th>注文日</th>
          <td>
            <%= @order.created_at.strftime('%Y年%m月%d日') %>
          </td>
        </tr>
        <tr>
          <th>配送先</th>
          <td>
            〒<%= @order.shipping_postal_code %><br>
            <%= @order.delivery_address %><br>
            <%= @order receiver_name %> 様
          </td>
        </tr>
        <tr>
          <th>支払方法</th>
          <td>
            <%= @order.payment_method %>
          </td>
        </tr>
        <tr>
          <th>ステータス</th>
          <td>
            <%= @order.order_status_i18n  %>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>